

<!DOCTYPE html>
<html>
<head>
<style>

body {
    background-color: aqua;
}

</style>
</head>
<body>

</body>
</html>
<%= image_tag "2.jpg" %>
<p><b>Hello my name is Edwin and I love being in Guatemala I love the culture, food, family & friends.</b></p>
